<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">API</lang>
		<lang name="russian">API</lang>
	</name>
	<author>
		<lang name="default">LiveStreet Developers Team</lang>
	</author>
	<homepage>http://livestreetcms.com/</homepage>
	<version>1.0</version>
	<requires>
		<livestreet>0.5</livestreet>
	</requires>
	<description>
		<lang name="default">JSON API for LiveStreet</lang>
		<lang name="russian">API в формате JSON для некоторых функций движка</lang>
	</description>
</plugin>
