<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">API</lang>
	</name>
	<author>
		<lang name="default">LiveStreet Developers Team</lang>
	</author>
	<homepage></homepage>
	<version>2.0.0</version>
	<requires>
		<livestreet>2.*</livestreet>
		<plugins>
		</plugins>
	</requires>
	<description>
		<lang name="default">API for LiveStreet</lang>
	</description>
</plugin>